/* normalization */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;


}

header {
    background-color: rgb(30, 90, 255);
    border-bottom: 7px solid rgb(172, 241, 11);
    margin-bottom: 10px;
    height: 100px;
    text-align: center;
}

footer {
    background-color: rgb(255, 131, 30);
    border-top: 3px solid tomato;
    text-align: center;
    padding: 10px;
    color: darkblue;
}

article {
    color: rgb(8, 8, 137);
    background-color: rgb(170, 95, 95);
    margin: 0 auto 20px;
    border: 2px solid dodgerblue;
    padding: 50px;
    width: 70%;
    border-radius: 20px;
}

nav {
    list-style-type: none;
}

.nav-bar,
.nav-link {
    display: inline;
    color: rgb(226, 43, 67);
}

.nav-bar {
    color: rgb(171, 167, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-link {
    color: rgb(143, 8, 8);
}

#brand-title {
    text-align: left;
    color: orange;
    line-height: 65px;
}

a {
    color: black;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    color: rgb(144, 238, 20);
}

main {
    text-align: center;
}

form {
    border: 2px dotted black;
    width: 30%;
    margin: 0 auto 20px;
    border-radius: 20px;
    padding: 20px;
}

.form-label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: darkolivegreen;
}

input,
textarea {
    padding: 5px;
    border-radius: 5px;
}

#profile-picture {
    border-radius: 50%;
    border: 2px solid pink;
    max-width: 100%;
    height: auto;
}

#profile-picture_2,
#profile-picture {
    display: inline;
}

#profile-picture_2 {
    border-radius: 50%;
    width: 300px;

}

#tandy {
    border-radius: 50%;
    width: 600px;
}

.sec_color_set {
    background-color: chocolate;
    color: rgba(5, 5, 128, 0.795);
}

.third_color_set {
    background-color: rgb(148, 134, 118);
    color: rgb(88, 124, 53);
}

.fourth_color_set {
    background-color: rgba(119, 234, 222, 0.971);
    color: rgb(109, 27, 27);
}

.hosp_box {
    background-color: darkred;
    color: rgb(219, 219, 75);
}

#rest_worked{
    display: inline;
    max-width: 200px;
    height: 150px;
    border-radius: 20%;

}

.nav-link {
    font-size: x-large;
}

body {
    background-image: url("tractor_rear.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}