/* normalization */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: black;

}

header {
    background-color: rgb(30, 90, 255);
    border-bottom: 7px solid rgb(40, 94, 24);
    margin-bottom: 10px;
    height: 100px;    
}

footer {
    background-color: dodgerblue;
    border-top: 3px solid tomato;
    text-align: center;
    padding: 10px;
}

article {
    background-color: rgba(71, 255, 246, 0.493);
    margin: 0 auto 20px;
    border: 2px solid dodgerblue;
    padding: 50px;
    width: 70%;
    border-radius: 20px;
}

nav {
    list-style-type: none;
}

.nav-bar, .nav-link {
    display: inline;
    text-decoration-color: blueviolet;
}

#brand-title {
    text-align: left;
}

a {
    color: black;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    color: tomato;
}

main {
    text-align: center;
}

form {
    border: 2px dotted black;
    width: 30%;
    margin: 0 auto 20px;
    border-radius: 20px;
    padding: 20px;
}

.form-label {
    margin-top: 10px;
    margin-bottom: 5px;
}

input, textarea {
    padding: 5px;
    border-radius: 5px;
}

#profile-picture{
    border-radius: 50%;
    border: 2px solid pink;
}